.feed {
  flex: 0.6;
  border-right: 1px solid var(--twitter-background);
  padding-top:15px;
  border-radius: 35px;
  height: fit-content;
  overflow-y:scroll;
  min-width: fit-content;
  max-width: 650px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
  border-radius: 25px;
  width: inherit;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
  border-radius: 25px;

}


@media screen and (max-width: 500px) and (min-width: 250px) {
      
  
  .feed {
    width: 100%;
    margin: 0px;
    
  }

  .feed_header  {
    width: 100%;

  }
  
  }