.commenttextarea {
  
    font-size: 20px;
    border-radius: 20px;
    border: none;
    transition-duration: 0.2s;
    height:100px;
    max-width: 500px;
    
  }

  .mycomment{

    max-width: 500px;
  }

  @media screen and (max-width: 500px) and (min-width: 250px) {
    .commenttextarea {
    max-width: 95%;
    }
    .mycomment{
        max-width: 95%;

    }
}
